

.widget-content-wrapper {
  .widget-content-left {
    .widget-heading {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.mail-subject-wrapper {
  max-width: 350px;
  overflow: hidden;
  
  .mail-subject {
    display: flex;
    overflow-wrap: normal !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: inherit;
  }
}

.app-inner-layout__top-pane {
  .input-group {
    margin-right: 10px;
  }

  .pane-right {
    white-space: pre;
  }
}

.search-form-container {
  .search-form-wrapper {
    label {
      min-width: 75px;
    }
  }
}